.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 120px;
  color: white;
}
.navbar-logo {
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
  cursor: pointer;
}
.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 90px;
}
.navbar-menu li {
  cursor: pointer;
}
.navbar-contact {
  border-radius: 50px;
  padding: 10px 38px;
  background: white;
  color: #262626;
  cursor: pointer;
}
